@import 'aos/dist/aos.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



@keyframes shimmer {
  0% {
    bg-position: 200% center;
  }

  100% {
    bg-position: -200% center;
  }
}

.reverse {
  animation-direction: reverse !important;
}