@use '@angular/material' as mat;

/* =========================
   MATERIAL CORE
========================= */
html {
  @include mat.core();
}

/* =========================
   FONT + BODY CƠ BẢN
========================= */
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

/* =========================
   THEME DÙNG SYSTEM VARIABLES
========================= */
$custom-theme: mat.define-theme((color: (use-system-variables: true,
      ),
    ));

html {
  @include mat.core-theme($custom-theme);
  @include mat.button-theme($custom-theme);
  @include mat.toolbar-theme($custom-theme);
  @include mat.icon-button-theme($custom-theme);
  @include mat.sidenav-theme($custom-theme);
  @include mat.tabs-theme($custom-theme);
  @include mat.list-theme($custom-theme);
  @include mat.card-theme($custom-theme);
  @include mat.select-theme($custom-theme);
  @include mat.form-field-theme($custom-theme);
  @include mat.menu-theme($custom-theme);
  @include mat.divider-theme($custom-theme);
}

/* ===========================
   LIGHT MODE (DEFAULT)
=========================== */
html {
  --mat-sys-primary: rgb(0, 0, 0);
  --mat-sys-surface-tint: rgb(109 94 15);
  --mat-sys-on-primary: rgb(255 255 255);
  --mat-sys-primary-container: rgb(248 226 135);
  --mat-sys-on-primary-container: rgb(83 70 0);

  --mat-sys-secondary: rgb(102 94 64);
  --mat-sys-on-secondary: rgb(255 255 255);
  --mat-sys-secondary-container: rgb(232, 230, 224);
  --mat-sys-on-secondary-container: rgb(78 71 42);

  --mat-sys-tertiary: rgb(67 102 78);
  --mat-sys-on-tertiary: rgb(255 255 255);
  --mat-sys-tertiary-container: rgb(197 236 206);
  --mat-sys-on-tertiary-container: rgb(44 78 56);

  --mat-sys-error: rgb(186 26 26);
  --mat-sys-on-error: rgb(255 255 255);

  /* 🌟 Light mode trắng hoàn toàn */
  --mat-sys-background: rgb(0, 0, 0);
  --mat-sys-on-background: rgb(0 0 0);

  --mat-sys-surface: rgb(255 255 255);
  --mat-sys-on-surface: rgb(0 0 0);

  --mat-sys-surface-container: rgb(255 255 255);
  --mat-sys-surface-container-low: rgb(255 255 255);
  --mat-sys-surface-container-high: rgb(255 255 255);
  --mat-sys-surface-container-highest: rgb(255 255 255);

  --mat-sys-surface-variant: rgb(234 234 234);
  --mat-sys-on-surface-variant: rgb(80 80 80);

  --mat-sys-outline: rgb(160 160 160);

  --mat-sys-shadow: rgb(0 0 0);

  @include mat.tooltip-overrides((container-color: var(--mat-sys-primary),
      container-shape: 16px,
      supporting-text-color:rgb(255, 255, 255)));

  .mat-mdc-button:not(:disabled) {
    color: rgb(255, 255, 255);
  }

  @include mat.badge-overrides((background-color: rgb(255, 0, 0),
      container-size: 10px,
    ));

  .mat-badge-content {
    border-radius: 50% !important;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    font-weight: 600;
  }

}


/* ===========================
   DARK MODE
=========================== */
// .dark {
//   --mat-sys-primary: rgb(255, 221, 0);
//   /* vàng nhạt */
//   --mat-sys-on-primary: rgb(0, 0, 0);
//   --mat-sys-primary-container: rgb(80, 65, 0);
//   --mat-sys-on-primary-container: rgb(255, 255, 255);

//   --mat-sys-secondary: rgb(160, 160, 160);
//   /* xám nhạt */
//   --mat-sys-on-secondary: rgb(0, 0, 0);
//   --mat-sys-secondary-container: rgb(120, 120, 120);
//   --mat-sys-on-secondary-container: rgb(0, 0, 0);

//   --mat-sys-tertiary: rgb(169, 208, 179);
//   --mat-sys-on-tertiary: rgb(20, 55, 35);
//   --mat-sys-tertiary-container: rgb(44, 78, 56);
//   --mat-sys-on-tertiary-container: rgb(197, 236, 206);

//   --mat-sys-error: rgb(255, 180, 171);
//   --mat-sys-on-error: rgb(105, 0, 5);

//   --mat-sys-background: rgb(18, 18, 18);
//   --mat-sys-on-background: rgb(255, 255, 255);
//   --mat-sys-surface: rgb(28, 28, 28);
//   //mau chu
//   --mat-sys-on-surface: rgb(255, 255, 255);

//   --mat-sys-surface-variant: rgb(60, 60, 60);
//   --mat-sys-on-surface-variant: rgb(200, 200, 200);

//   //ouline
//   --mat-sys-outline: rgb(255, 255, 255);
//   --mat-sys-outline-variant: rgb(75, 71, 57);

//   --mat-sys-neutral10: rgb(120, 120, 120);
//   /* text disabled */
//   //text option
//   --mat-option-label-text-color: rgb(254, 254, 254);


//   //color menu
//   --mat-menu-item-icon-color: black;
//   --mat-sys-surface-container: rgb(245, 227, 114);


//   //date
//   --mat-datepicker-calendar-date-text-color: rgb(255, 255, 255);
//   --mat-datepicker-calendar-header-text-color: rgb(255, 255, 255);
//   --mat-button-text-label-text-color: rgb(255, 255, 255);

//   //paginator
//   --mat-paginator-container-text-color: rgb(255, 221, 0);
//   --mat-option-selected-state-label-text-color: rgb(255, 221, 0);






//   //mat-card
//   @include mat.card-overrides((elevated-container-color: var(--mat-sys-surface-variant), // nền card sáng hơn nền chính
//       filled-container-color: var(--mat-sys-surface-variant),
//       outlined-container-color: var(--mat-sys-surface-variant),
//       outlined-outline-color: var(--mat-sys-outline), // viền card
//       subtitle-text-color: var(--mat-sys-on-surface)));


//   //menu
//   @include mat.menu-overrides((item-label-text-color:var(--mat-menu-item-icon-color),
//       item-hover-state-layer-color:rgb(194, 179, 84)));


//   //tooltip
//   @include mat.tooltip-overrides((container-color: var(--mat-sys-primary),
//       container-shape: 16px,
//       supporting-text-color:black));

//   .mat-mdc-button:not(:disabled) {
//     color: rgb(255, 255, 255);
//   }

//   .mat-mdc-paginator {
//     background-color: rgb(17 24 39);
//     --mat-icon-button-icon-color: rgb(255, 221, 0);
//   }

//   //date
//   @include mat.datepicker-overrides((calendar-container-background-color: rgb(107, 103, 103),
//     ));

//   div.mat-mdc-select-panel {
//     background-color: rgb(107, 103, 103);
//   }

//   input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0px 1000px #1e293b inset !important;
//     -webkit-text-fill-color: white !important;
//   }

//   // .mat-mdc-raised-button:not(:disabled) {
//   //   color: rgb(0 0 0);
//   //   background-color: rgb(202 211 212);
//   // }

// }

// .home-card {
//   @include mat.card-overrides((elevated-container-color: #444141,
//       filled-container-color: #ffffff,
//       outlined-container-color: #f5f5f5,
//       outlined-outline-color: #cccccc,
//       subtitle-text-color: #ffffff));
// }

// .button {
//   --mat-button-protected-label-text-color: rgb(0, 0, 0);
//   --mat-button-protected-container-color: rgb(255, 221, 0);
// }

// .iconcolor {
//   .mat-mdc-icon-button {
//     color: rgb(255, 221, 0);
//   }
// }

// .chonngay {
//   --mat-form-field-outlined-label-text-color: rgb(255, 221, 0);
//   --mat-sys-on-background: red;
//   --mat-datepicker-toggle-icon-color: rgb(255, 221, 0);
//   --mat-select-enabled-arrow-color: rgb(255, 221, 0);
//   --mat-select-enabled-trigger-text-color: rgb(255, 221, 0);
//   --mat-sys-on-surface: rgb(255, 221, 0);
//   --mat-form-field-hover-color: rgb(255, 180, 0);
//   --mat-form-field-outlined-caret-color: rgb(255, 221, 0);
//   --mat-form-field-outlined-input-text-color: rgb(255, 221, 0);

//   @include mat.form-field-overrides((outlined-hover-outline-color: rgb(255, 221, 0),
//       outlined-hover-label-text-color:rgb(255, 221, 0),
//       outlined-disabled-outline-color:rgb(255, 221, 0),
//       outlined-disabled-label-text-color:rgb(255, 221, 0),
//       outlined-focus-label-text-color:rgb(255, 221, 0),
//       outlined-focus-outline-color:rgb(255, 221, 0),
//     ));

//   @include mat.datepicker-overrides((toggle-active-state-icon-color:rgb(255, 221, 0),
//       calendar-date-hover-state-background-color:rgb(255, 221, 0),
//     ));

// }

// .datban {
//   --mat-form-field-outlined-label-text-color: rgb(255, 221, 0);
//   --mat-datepicker-toggle-icon-color: rgb(255, 221, 0);
//   --mat-select-enabled-arrow-color: rgb(255, 221, 0);
//   --mat-select-enabled-trigger-text-color: rgb(255, 221, 0);
//   --mat-sys-on-surface: rgb(255, 221, 0);
//   --mat-form-field-hover-color: rgb(255, 180, 0);
//   --mat-form-field-outlined-caret-color: rgb(255, 221, 0);
//   --mat-form-field-outlined-input-text-color: rgb(255, 221, 0);
//   --mat-button-filled-label-text-color: rgb(27, 27, 26);
//   --mat-icon-button-icon-color: rgb(255, 221, 0);
//   --mat-datepicker-calendar-date-selected-state-background-color: rgb(255, 221, 0);
//   @include mat.form-field-overrides((outlined-hover-outline-color: rgb(255, 221, 0),
//       outlined-hover-label-text-color:rgb(255, 221, 0),
//       outlined-disabled-outline-color:rgb(255, 221, 0),
//       outlined-disabled-label-text-color:rgb(255, 221, 0),
//       outlined-focus-label-text-color:rgb(255, 221, 0),
//       outlined-focus-outline-color:rgb(255, 221, 0),
//     ));


//   .mat-mdc-unelevated-button:not(:disabled) {
//     background-color: rgb(255, 221, 0);
//   }

//   .mat-mdc-icon-button {
//     background-color: rgb(73, 72, 72);
//   }

//   .mat-mdc-raised-button:not(:disabled) {
//     color: rgb(255, 221, 0);
//     background-color: rgb(73, 72, 72);
//   }
// }

// .tooltipne {
//   @include mat.tooltip-overrides((container-color: rgb(255, 221, 0),
//       container-shape: 16px,
//       supporting-text-color:black));
// }