<div class="relative p-6">
  <!-- Nút đóng -->
  <div class="flex justify-end">
    <button matIconButton (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <!-- Tiêu đề -->
  <h2 class="text-2xl font-semibold mb-8 text-center">
    Chỉnh sửa thông tin loại món ăn
  </h2>

  <div class="flex gap-8 flex-wrap lg:flex-nowrap">

    <!-- Ảnh bàn + upload -->
    <div class="flex flex-col items-center gap-3 w-full lg:w-1/3">

      <!-- Hiển thị ảnh -->
      <div class="w-48 h-48 rounded-lg overflow-hidden shadow-md">
        <img [src]="previewImage || 'assets/user.jpg'" alt="Ảnh bàn" class="w-full h-full object-cover" />
      </div>

      <!-- Button upload -->
      <button matButton="filled" (click)="fileInput.click()">
        <mat-icon>upload</mat-icon>
        Thay ảnh
      </button>

      <input #fileInput type="file" hidden (change)="onFileSelected($event)" accept="image/*" />

    </div>

    <!-- Form nhập thông tin -->
    <div class="grid grid-cols-1 gap-4 flex-1">

      <!-- Tên bàn -->
      <div class="flex flex-col gap-1">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>
            Tên loại món ăn
          </mat-label>
          <input matInput [(ngModel)]="LoaiMonAn.ten_loai_mon_an">
        </mat-form-field>
      </div>

    </div>
  </div>

  <!-- Nút hành động -->
  <div class="flex justify-end gap-4 mt-8">

    <!-- Button Cập nhật -->

    <button matButton="filled" (click)="CapNhatLoaiMonAn()" [disabled]="isLoading" class="btn-loading">
      <mat-icon *ngIf="!isLoading">check</mat-icon>

      <mat-icon *ngIf="isLoading" class="spin">autorenew</mat-icon>

      {{ isLoading ? 'Đang cập nhật...' : 'Cập nhật' }}
    </button>

    <!-- Button Hủy -->

    <button mat-raised-button (click)="close()">
      <mat-icon>close</mat-icon>
      Hủy
    </button>

  </div>
</div>