<div class="space-y-4">

  <!-- ===== ITEM ===== -->
  <div *ngFor="let item of gioHang" class="bg-white rounded-2xl border shadow-sm p-4 space-y-2">

    <!-- ===== HÀNG TRÊN ===== -->
    <div class="flex gap-4">

      <!-- ẢNH -->
      <img [src]="item.anh" class="w-20 h-20 rounded-xl object-cover border bg-gray-100" />

      <!-- THÔNG TIN -->
      <div class="flex-1">
        <p class="font-semibold text-gray-900 line-clamp-2">
          {{ item.ten_mon_an }}
        </p>

        <p class="text-green-600 font-bold text-sm mt-1">
          {{ item.gia_don | number }} đ
        </p>


        <div *ngIf="item.options?.length">
          <div *ngFor="let opt of item.options" class="text-sm text-gray-600">
            + {{ opt.ten_nhom_option }}: {{ opt.ten_option }}
            <span *ngIf="opt.gia_them > 0">
              ({{ opt.gia_them | number }}đ)
            </span>
          </div>
        </div>
      </div>

      <!-- ACTION -->
      <div class="flex flex-col items-end justify-between">
        <button (click)="xoa.emit(item)" class="text-gray-400 hover:text-red-500">
          <mat-icon>close</mat-icon>
        </button>

        <div class="flex items-center gap-2 bg-gray-100 rounded-full px-2 py-1">
          <button (click)="change.emit({ item, type: 'minus' })" class="w-7 h-7 rounded-full bg-white shadow">
            <mat-icon class="text-base mt-0.5">remove</mat-icon>
          </button>

          <span class="w-6 text-center font-semibold text-sm">
            {{ item.soLuong }}
          </span>

          <button (click)="change.emit({ item, type: 'plus' })" class="w-7 h-7 rounded-full bg-green-500 text-white shadow">
            <mat-icon class="text-base mt-0.5">add</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- ===== GHI CHÚ RIÊNG ===== -->
    <p class="text-xs italic text-gray-500 pl-24 leading-relaxed">
      Ghi chú: Giao hàng nhanh tí, đừng trễ hẹn của tôi
    </p>

  </div>

  <!-- ===== GHI CHÚ ===== -->
  <div class="bg-white rounded-2xl p-4 border shadow-sm">
    <label class="block text-sm font-medium text-gray-700 mb-2">
      Ghi chú cho nhà hàng
    </label>

    <textarea rows="3" placeholder="Ví dụ: ít cay, không hành, giao trước 18h..." [(ngModel)]="ghiChu"
      (ngModelChange)="ghiChuChange.emit($event)" class="w-full text-sm rounded-xl p-3
              focus:ring-green-500">
    </textarea>
  </div>

  <!-- ===== TỔNG TIỀN (KHÔNG STICKY) ===== -->
  <div class="flex justify-between items-center p-4 bg-gray-50 rounded-xl">
    <span class="text-gray-600 font-medium">Tạm tính</span>
    <span class="text-green-600 font-bold text-lg">
      {{ tongTien | number }} đ
    </span>
  </div>

</div>