

<div class="relative h-80 flex items-center px-10 bg-white">
  <div>
    <h1 class="text-4xl font-bold mb-3 text-gray-800">
     TRANG QUẢN LÝ NGƯỜI DÙNG
    </h1>
    <p class="text-gray-600 max-w-xl">
        Đây là trang quản lý người dùng. Bạn có thể thêm, sửa hoặc xóa thông tin người dùng tại đây.
    </p>
  </div>
</div>


<div class="container mx-auto px-6 mt-10">

  <mat-card class="w-full shadow-xl rounded-2xl p-6">

    <!-- HEADER -->
    <div class="flex justify-between items-center mb-6 border-b pb-4">

      <h3 class="text-2xl font-semibold">
        Danh Sách Người Dùng
      </h3>

      <button mat-flat-button (click)="ThemNhanVien()">
        Thêm Mới
      </button>
    </div>

    <!-- TABLE -->
    <div class="overflow-x-auto">
      <table class="min-w-full border rounded-lg overflow-hidden text-sm">

        <thead class="text-sm">
          <tr>
            <th class="px-4 py-3 text-center border">STT</th>
            <th class="px-4 py-3 text-center border">Họ tên</th>
            <th class="px-4 py-3 text-center border">Ảnh</th>
            <th class="px-4 py-3 text-center border">Giới tính</th>
            <th class="px-4 py-3 text-center border">Ngày sinh</th>
            <th class="px-4 py-3 text-center border">Sđt</th>
            <th class="px-4 py-3 text-center border">Email</th>
            <th class="px-4 py-3 text-center border">Loại nhân viên</th>
            <th class="px-4 py-3 text-center border">Trạng thái tài khoản</th>
            <th class="px-4 py-3 text-center border">Hành động</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let user of NhanVien; let i = index">

            <td class="px-4 py-7 text-center border">{{ i + 1 }}</td>
            <td class="px-4 py-7 text-center border">{{ user.ho_ten }}</td>

            <td class="px-4 py-7 text-center border">
              <img *ngIf="user.anh_nguoi_dung_url" [src]="user.anh_nguoi_dung_url" alt="Ảnh nhân viên"
                class="w-10 h-10 rounded-full object-cover mx-auto shadow" />

              <span *ngIf="!user.anh_nguoi_dung_url" class="text-gray-500 italic">Không có ảnh</span>
            </td>

            <td class="px-4 py-7 text-center border">{{ user.gioi_tinh }}</td>
            <td class="px-4 py-7 text-center border">{{ user.ngay_sinh | date:'dd/MM/yyyy' }}</td>
            <td class="px-4 py-7 text-center border">{{ user.sdt }}</td>
            <td class="px-4 py-7 text-center border">{{ user.email }}</td>
            <td class="px-4 py-7 text-center border">{{ user.loai_nguoi_dung }}</td>
            <td class="px-4 py-7 text-center border">
              <span class="px-3 py-1 rounded-full text-sm font-medium" [ngClass]="{
                  'bg-red-100 text-red-700': user.trang_thai === 'khoa',
                  'bg-green-100 text-green-700': user.trang_thai === 'hoat_dong'
                }">
                {{ user.trang_thai === 'khoa'
                ? 'Tài khoản đã bị khóa'
                : 'Tài khoản đang hoạt động' }}
              </span>
            </td>

            <!-- ACTION BUTTONS -->
            <td class="px-4 py-7 text-center border">
              <div class="flex justify-center gap-2">

                <button mat-icon-button matTooltip="Sửa" (click)="SuaNhanVien(user.ma_nguoi_dung)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Xóa" (click)="deleteUser(user.ma_nguoi_dung)">
                  <mat-icon>delete</mat-icon>
                </button>

              </div>
            </td>

          </tr>

        </tbody>
      </table>
    </div>

  </mat-card>

</div>

<!-- TOAST -->
<app-toast-message [show]="toast.show" [message]="toast.message" [type]="toast.type"></app-toast-message>