<div class="rounded-2xl shadow-xl w-full h-full p-8 flex flex-col bg-white text-gray-800">

  <!-- ================= HEADER ================= -->
  <div class="flex items-center mb-6 gap-4 shrink-0">

    <div class="flex flex-col shrink-0">
      <h2 class="text-xl font-bold text-gray-900 flex items-center gap-2">
        <mat-icon class="text-xl text-green-500">shopping_cart</mat-icon>
        Giỏ hàng
      </h2>

      <span class="mt-1 px-3 py-1 rounded-full bg-green-100 text-green-700 text-sm font-medium w-fit">
        Tổng số món: {{ tongSoMon }}
      </span>
    </div>

    <!-- STEP INDICATOR -->
    <div class="flex-1 flex justify-center">
      <mat-horizontal-stepper [selectedIndex]="currentStep" class="custom-stepper readonly-stepper">

        <mat-step label="Giỏ hàng"></mat-step>
        <mat-step label="Tạm tính"></mat-step>
        <mat-step label="Thông tin giao hàng"></mat-step>
        <mat-step label="Thanh toán"></mat-step>

      </mat-horizontal-stepper>
    </div>

    <button mat-icon-button (click)="close()">
      <mat-icon class="text-gray-500 hover:text-gray-800">close</mat-icon>
    </button>

  </div>

  <!-- ================= BODY (STEP AREA) ================= -->
  <div class="flex-1 overflow-y-auto pr-2">

    <app-step-gio-hang *ngIf="currentStep === 0" [gioHang]="gioHang" [tongTien]="tongTien" [ghiChu]="ghiChu"
      (tang)="tangSoLuong($event)" (giam)="giamSoLuong($event)" (xoa)="removeFromGioHang($event)" [ghiChu]="ghiChu"
      (ghiChuChange)="ghiChu = $event">>
    </app-step-gio-hang>


    <app-step-tam-tinh *ngIf="currentStep === 1" [tongTien]="tongTien" [tongSauGiam]="tongSauGiam"
      [maGiamGiaChon]="maGiamGiaChon" [ghiChu]="ghiChu" [giamGiaList]="giamGiaList || []"
      (chonGiamGia)="chonGiamGia($event)">
    </app-step-tam-tinh>


    <app-step-thong-tin *ngIf="currentStep === 2" [isLoggedIn]="isLoggedIn" [danhSachDiaChi]="danhSachDiaChi"
      [tenNguoiNhan]="tenNguoiNhan" [soDienThoai]="soDienThoai" [diaChi]="diaChi" [selectedDiaChi]="selectedDiaChi"
      [showAddAddress]="showAddAddress" [newDiaChi]="newDiaChi" [editingDiaChiId]="editingDiaChiId"
      [editDiaChiForm]="editDiaChiForm" (chonDiaChi)="chonDiaChi($event)" (suaDiaChi)="moSuaDiaChi($event)"
      (datMacDinh)="datMacDinh($event)" (capNhatDiaChi)="capNhatDiaChi()" [(showAddAddress)]="showAddAddress"
      (themDiaChi)="themDiaChi()">
    </app-step-thong-tin>


    <app-step-thanh-toan *ngIf="currentStep === 3" [gioHang]="gioHang" [tongTien]="tongTien" [tongSauGiam]="tongSauGiam"
      [maGiamGiaChon]="maGiamGiaChon" [tenNguoiNhan]="tenNguoiNhan" [soDienThoai]="soDienThoai" [diaChi]="diaChi"
      [ghiChu]="ghiChu" (thanhToan)="thanhToan()">
    </app-step-thanh-toan>

    <!-- <app-step-thanh-toan *ngIf="currentStep === 4" >
    </app-step-thanh-toan> -->
    <div *ngIf="currentStep === 4" class="flex flex-col items-center justify-center py-12 text-center">

      <mat-icon class="text-green-500 success-icon">
        check_circle
      </mat-icon>

      <h2 class="text-xl font-bold mt-4">
        Thanh toán thành công!
      </h2>

      <p class="text-gray-500 mt-2">
        Vui lòng vào trang cá nhân để theo dõi đơn hàng
      </p>

      <button mat-flat-button color="primary" class="mt-6" (click)="goToDonHang()">
        Xem đơn hàng
      </button>
    </div>


  </div>

  <!-- ================= FOOTER ================= -->
  <div class="border-t pt-4 mt-4 shrink-0 flex justify-end gap-4">

    <!-- QUAY LẠI: chỉ 0 → 3 -->
    <button matButton="filled" (click)="prevStep()" *ngIf="currentStep > 0 && currentStep < 4">
      Quay lại
    </button>

    <!-- TIẾP TỤC: chỉ 0 → 2 -->
    <button mat-raised-button color="primary" (click)="nextStep()" *ngIf="currentStep < 3">

      Tiếp tục
    </button>

    <!-- STEP 3: chỉ còn nút thanh toán -->
    <button mat-raised-button color="primary" *ngIf="currentStep === 4" (click)="close()">
      Hoàn tất
    </button>

  </div>

</div>

<app-toast-message [show]="toast.show" [message]="toast.message" [type]="toast.type">
</app-toast-message>