<mat-card class="mt-4">
<div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 mt-4 mx-4 mb-4">

  <!-- Card 1 -->
  <div class="rounded-2xl shadow-lg p-3 md:p-5 flex items-center justify-between
              hover:-translate-y-1 hover:shadow-2xl transition-all duration-300">

    <div>
      <h5 class="text-[10px] md:text-xs font-semibold uppercase tracking-wider">
        SỐ ĐƠN HÀNG
      </h5>

      <span class="text-xl md:text-3xl font-bold">
        {{ dangTai ? '...' : tongHoaDon }}
      </span>

      <p class="text-[11px] md:text-sm mt-1 md:mt-2 text-gray-500">
        Tổng số đơn hàng trong hệ thống
      </p>
    </div>

    <div class="bg-red-500 rounded-full p-2 shadow-md flex items-center justify-center
                cursor-pointer hover:bg-red-600 hover:scale-110 transition-all duration-200">
      <mat-icon class="!text-base">keyboard_arrow_down</mat-icon>
    </div>

  </div>

  <!-- Card 2 -->
  <div class="rounded-2xl shadow-lg p-3 md:p-5 flex items-center justify-between
              hover:-translate-y-1 hover:shadow-2xl transition-all duration-300">

    <div>
      <h5 class="text-[10px] md:text-xs font-semibold uppercase tracking-wider">
        SỐ LƯỢNG KHÁCH HÀNG
      </h5>

      <span class="text-xl md:text-3xl font-bold">
        {{ dangTaiUser ? '...' : tongKhachHang }}
      </span>

      <p class="text-[11px] md:text-sm mt-1 md:mt-2 text-gray-500">
        Tổng số khách hàng trong hệ thống
      </p>
    </div>

    <div class="bg-yellow-500 rounded-full p-2 shadow-md flex items-center justify-center
                cursor-pointer hover:bg-yellow-600 hover:scale-110 transition-all duration-200">
      <mat-icon class="!text-base">keyboard_arrow_down</mat-icon>
    </div>

  </div>

  <!-- Card 3 -->
  <div class="rounded-2xl shadow-lg p-3 md:p-5 flex items-center justify-between
              hover:-translate-y-1 hover:shadow-2xl transition-all duration-300">

    <div>
      <h5 class="text-[10px] md:text-xs font-semibold uppercase tracking-wider">
        ĐƠN HÀNG ĐÃ HỦY
      </h5>

      <span class="text-xl md:text-3xl font-bold">
        {{ dangTaiHoaDonHuy ? '...' : tongHoaDonHuy }}
      </span>

      <p class="text-[11px] md:text-sm mt-1 md:mt-2 text-gray-500">
        Tổng số đơn hàng đã bị hủy
      </p>
    </div>

    <div class="bg-orange-400 rounded-full p-2 shadow-md flex items-center justify-center
                cursor-pointer hover:bg-orange-500 hover:scale-110 transition-all duration-200">
      <mat-icon class="!text-base">keyboard_arrow_down</mat-icon>
    </div>

  </div>

  <!-- Card 4 -->
  <div class="rounded-2xl shadow-lg p-3 md:p-5 flex items-center justify-between
              hover:-translate-y-1 hover:shadow-2xl transition-all duration-300">

    <div>
      <h5 class="text-[10px] md:text-xs font-semibold uppercase tracking-wider">
        ĐƠN HÀNG ĐÃ GIAO
      </h5>

      <span class="text-xl md:text-3xl font-bold">
        {{ dangTaihoadondagiao ? '...' : tongdonhangdagiao }}
      </span>

      <p class="text-[11px] md:text-sm mt-1 md:mt-2 text-gray-500">
        Tổng số đơn hàng đã giao
      </p>
    </div>

    <div class="bg-blue-500 rounded-full p-2 shadow-md flex items-center justify-center
                cursor-pointer hover:bg-blue-600 hover:scale-110 transition-all duration-200">
      <mat-icon class="!text-base">keyboard_arrow_down</mat-icon>
    </div>

  </div>

</div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-4 ml-4 mr-4 mb-4">

    <div class="rounded-2xl shadow-lg p-5 flex items-center justify-between
         hover:-translate-y-1 hover:shadow-2xl transition-all duration-300 mb-4">

      <div>
        <h5 class="text-xs font-semibold uppercase tracking-wider">
          DOANH THU NGÀY HÔM NAY
        </h5>

        <span class="text-3xl font-bold">
          {{ doanhThuHomNay | number:'1.0-0' }} đ
        </span>

        <p class="text-xs text-gray-500 mt-1">
          {{ soDonHomNay }} đơn • {{ ngayHomNay }}
        </p>
      </div>

      <div class="bg-green-500 rounded-full p-2 shadow-md flex items-center justify-center
           cursor-pointer hover:bg-red-600 hover:scale-110 transition-all duration-200" title="Xem Chi Tiết">

        <mat-icon class="!text-base !leading-none flex items-center justify-center">
          keyboard_arrow_down
        </mat-icon>
      </div>

    </div>

    <div class="rounded-2xl shadow-lg p-5 flex items-center justify-between
     hover:-translate-y-1 hover:shadow-2xl transition-all duration-300 mb-4">

      <div>
        <h5 class="text-xs font-semibold uppercase tracking-wider">
          DOANH THU THÁNG NÀY
        </h5>

        <span class="text-3xl font-bold text-blue-600">
          {{ doanhThuThang | number:'1.0-0' }} đ
        </span>

        <p class="text-xs text-gray-500 mt-1">
          {{ soDonThang }} đơn • {{ thangNam }}
        </p>
      </div>

      <div class="bg-blue-500 rounded-full p-2 shadow-md flex items-center justify-center
       cursor-pointer hover:bg-red-600 hover:scale-110 transition-all duration-200">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
    </div>

    <div class="rounded-2xl shadow-lg p-5 flex items-center justify-between
     hover:-translate-y-1 hover:shadow-2xl transition-all duration-300 mb-4">

      <div>
        <h5 class="text-xs font-semibold uppercase tracking-wider">
          DOANH THU NĂM NAY
        </h5>

        <span class="text-3xl font-bold text-purple-600">
          {{ doanhThuNam | number:'1.0-0' }} đ
        </span>

        <p class="text-xs text-gray-500 mt-1">
          {{ soDonNam }} đơn • {{ namHienTai }}
        </p>
      </div>

      <div class="bg-purple-500 rounded-full p-2 shadow-md flex items-center justify-center
       cursor-pointer hover:bg-red-600 hover:scale-110 transition-all duration-200">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
    </div>

    <div class="rounded-2xl shadow-lg p-5 flex items-center justify-between
         hover:-translate-y-1 hover:shadow-2xl transition-all duration-300 mb-4">

      <div>
        <h5 class="text-xs font-semibold uppercase tracking-wider">
          SỐ LƯỢNG ĐÁNH GIÁ HÔM NAY
        </h5>

        <span class="text-3xl font-bold">
          {{ soDanhGiaHomNay }}
        </span>
        <p class="text-xs text-gray-500 mt-1">
          {{ ngayHomNay }}
        </p>
      </div>

      <div class="bg-yellow-500 rounded-full p-2 shadow-md flex items-center justify-center
           cursor-pointer hover:bg-yellow-600 hover:scale-110 transition-all duration-200"
        title="Xem chi tiết đánh giá">

        <mat-icon class="!text-base !leading-none flex items-center justify-center"
          style="line-height: 0; font-size: 18px;">
          star_rate
        </mat-icon>

      </div>
    </div>
  </div>
</mat-card>


<!-- Charts + Tables -->
<div class="container mx-auto px-4 mt-8">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- Sales Value Chart -->
    <mat-card>
      <h3 class="font-bold mb-2 mt-2 ml-4">Món ăn được yêu thích nhất</h3>
      <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart" [labels]="pieChartOptions.labels"
        [responsive]="pieChartOptions.responsive">
      </apx-chart>
    </mat-card>

    <mat-card>
      <h3 class="font-bold mb-2 mt-2 ml-4">% Đơn hoàn thành trong ngày hôm nay</h3>
      <apx-chart [series]="RadialbarChartOptions.series" [chart]="RadialbarChartOptions.chart"
        [plotOptions]="RadialbarChartOptions.plotOptions" [labels]="RadialbarChartOptions.labels">
      </apx-chart>
    </mat-card>

    <!-- Area Chart (full width) -->
    <mat-card class="lg:col-span-2 shadow rounded-lg p-4 mt-6">
      <h3 class="font-bold mb-2 mt-2 ml-4">Doanh thu theo từng ngày</h3>
      <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart" [xaxis]="areaChartOptions.xaxis"
        [stroke]="areaChartOptions.stroke" [tooltip]="areaChartOptions.tooltip"
        [dataLabels]="areaChartOptions.dataLabels">
      </apx-chart>
    </mat-card>

  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">


    <mat-card class="mt-4">
      <apx-chart [series]="BarChartOptions.series" [chart]="BarChartOptions.chart"
        [dataLabels]="BarChartOptions.dataLabels" [stroke]="BarChartOptions.stroke" [colors]="BarChartOptions.colors"
        [title]="BarChartOptions.title" [subtitle]="BarChartOptions.subtitle"
        [plotOptions]="BarChartOptions.plotOptions" [yaxis]="BarChartOptions.yaxis" [xaxis]="BarChartOptions.xaxis"
        [tooltip]="BarChartOptions.tooltip"></apx-chart>
    </mat-card>


    <mat-card class="mt-4">
      <apx-chart [series]="AreaBasicChartOptions.series" [chart]="AreaBasicChartOptions.chart"
        [xaxis]="AreaBasicChartOptions.xaxis" [stroke]="AreaBasicChartOptions.stroke"
        [dataLabels]="AreaBasicChartOptions.dataLabels" [yaxis]="AreaBasicChartOptions.yaxis"
        [legend]="AreaBasicChartOptions.legend" [title]="AreaBasicChartOptions.title"
        [subtitle]="AreaBasicChartOptions.subtitle"></apx-chart>
    </mat-card>

  </div>

  <!-- Tables -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-8">

    <div class="lg:col-span-2 shadow rounded-lg p-4">
      <div class="mb-4 flex items-center justify-between">
        <h2 class="text-lg font-semibold">Đơn hàng đã giao
        </h2>

        <span class="text-s">
          Hôm nay
        </span>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">

        <!-- Mã đơn hàng -->
        <ng-container matColumnDef="ma_hoa_don">
          <th mat-header-cell *matHeaderCellDef> Mã đơn </th>
          <td mat-cell *matCellDef="let element">
            #{{ element.ma_hd }}
          </td>
        </ng-container>

        <!-- Tên khách hàng -->
        <ng-container matColumnDef="ten_khach_hang">
          <th mat-header-cell *matHeaderCellDef> Khách hàng </th>
          <td mat-cell *matCellDef="let element">
            {{ element.ten_khach_hang }}
          </td>
        </ng-container>

        <!-- Thành tiền -->
        <ng-container matColumnDef="thanh_tien">
          <th mat-header-cell *matHeaderCellDef> Thành tiền </th>
          <td mat-cell *matCellDef="let element">
            {{ element.thanh_tien | number }} ₫
          </td>
        </ng-container>

        <!-- Trạng thái -->
        <ng-container matColumnDef="trang_thai">
          <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
          <td mat-cell *matCellDef="let element">
            <span class="px-3 py-1 rounded-full text-sm font-medium bg-green-100 text-black">Đã giao </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
    <div class="shadow rounded-lg bg-white">
      <div class="p-4 border-b flex justify-between items-center">
        <h3 class="text-lg font-bold">Shipper đang hoạt động</h3>
      </div>

      <div class="p-4 overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200 text-sm">
          <thead class="text-xs uppercase text-gray-600">
            <tr>
              <th class="px-4 py-2 text-center">Ảnh</th>
              <th class="px-4 py-2 text-center">Tên shipper</th>
              <th class="px-4 py-2 text-center">Trạng thái</th>
            </tr>
          </thead>

          <tbody class="divide-y">
            <tr *ngFor="let shipper of shippers">
              <!-- Ảnh -->
              <td class="px-4 py-2">
                <img *ngIf="shipper.anh_nguoi_dung?.length" [src]="shipper.anh_nguoi_dung[0].url" alt="Ảnh shipper"
                  class="w-10 h-10 rounded-full object-cover mx-auto shadow" />
              </td>

              <!-- Tên -->
              <td class="px-4 py-2 font-medium text-center">
                {{ shipper.ho_ten }}
              </td>

              <!-- Trạng thái -->
              <td class="px-4 py-2 text-center">
                <span class="px-2 py-1 text-xs rounded-full bg-green-100 text-green-700">
                  Đang hoạt động
                </span>
              </td>
            </tr>

            <!-- Không có dữ liệu -->
            <tr *ngIf="shippers.length === 0">
              <td colspan="4" class="text-center py-4 text-gray-400">
                Không có shipper hoạt động
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>