::ng-deep .mat-mdc-card {
  background-color: #1f2937 !important; /* tương đương bg-gray-800 */
  color: #e5e7eb !important; /* text-gray-200 */
  border: 1px solid #374151 !important; /* border-gray-700 */
}