<div class="flex min-h-screen w-full bg-gray-100 overflow-hidden">

  <!-- Sidebar -->
  <app-sidebar-user></app-sidebar-user>

  <!-- Main wrapper -->
  <div class="flex flex-col flex-1 min-h-screen">

    <!-- Header -->
    <app-header-user></app-header-user>

    <!-- Content -->
    <main
      class="flex-1 overflow-y-auto transition-all duration-300 pt-20"
      [ngStyle]="{
        'margin-left': (collapsed$ | async) ? '5rem' : '16rem'
      }"
    >
      <router-outlet></router-outlet>
    </main>

  </div>

</div>