<form #monAnForm="ngForm" (ngSubmit)="addMonAn()">
  <div class="relative p-6 rounded-2xl shadow-2xl">
    <!-- Nút đóng -->
    <div class="flex justify-end">
      <button matIconButton (click)="close()" class="flex items-center ">
        <mat-icon>
          close
        </mat-icon>
      </button>
    </div>


    <!-- Tiêu đề -->
    <h2 class="text-2xl font-semibold mb-8 text-center">
      Thêm Mới Món Ăn
    </h2>

    <div class="flex gap-8 flex-wrap lg:flex-nowrap">
      <!-- Upload ảnh -->
      <div class="flex flex-col items-center gap-3 w-full lg:w-1/3">
        <div
          class="w-full h-48 border-2 border-dashed cursor-pointer hover:border-cyan-400 transition overflow-hidden relative flex items-center justify-center"
          (click)="chonAnh(fileInput)">
          <ng-container *ngIf="!previewUrl; else daCoAnh">
            <div class="flex flex-col items-center justify-center">
              <mat-icon class="text-2xl mb-2 text-cyan-400 leading-none">cloud_upload</mat-icon>
              <p class="text-sm font-medium text-gray-400">Chưa chọn ảnh</p>
            </div>
          </ng-container>
          <ng-template #daCoAnh>
            <img [src]="previewUrl" alt="Preview" class="w-full h-full object-cover rounded-lg" />
          </ng-template>
        </div>

        <div class="text-xs text-gray-400 mt-2 text-center italic">
          Hỗ trợ: JPEG, JPG, PNG &nbsp; | &nbsp; Dung lượng tối đa: 25MB
        </div>

        <input #fileInput type="file" hidden (change)="onFileSelected($event)" accept="image/*" />
      </div>

      <!-- Form nhập -->
      <div class="grid grid-cols-2 gap-4 flex-1">

        <!-- Hàng 1 -->
        <div class="flex flex-col">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Tên món ăn</mat-label>
            <input matInput [(ngModel)]="MonAn.ten_mon_an" name="ten_mon_an" required #tenMon="ngModel"
              placeholder="Nhập tên món ăn" />

            <mat-error *ngIf="tenMon.touched && tenMon.invalid">
              Vui lòng nhập tên món ăn
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Tên loại món ăn</mat-label>

            <mat-select [(ngModel)]="MonAn.ma_loai_mon_an" name="ma_loai_mon_an" required #loaiMon="ngModel">

              <mat-option *ngFor="let item of danhSachLoaiMonAn" [value]="item.ma_loai_mon_an">
                <div class="flex items-center gap-3">
                  <img [src]="item.anh_loai_mon_an" class="w-8 h-8 object-cover rounded-md" />
                  <span>{{ item.ten_loai_mon_an }}</span>
                </div>
              </mat-option>

            </mat-select>

            <mat-error *ngIf="loaiMon.touched && loaiMon.invalid">
              Vui lòng chọn loại món ăn
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Hàng 2 -->
        <div class="flex flex-col">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Trạng thái</mat-label>

            <mat-select [(ngModel)]="MonAn.trang_thai" name="trang_thai" required #trangThai="ngModel">

              <mat-option [value]="0">Ngừng bán</mat-option>
              <mat-option [value]="1">Còn bán</mat-option>

            </mat-select>

            <mat-error *ngIf="trangThai.touched && trangThai.invalid">
              Vui lòng chọn trạng thái
            </mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Giá tiền</mat-label>

            <input matInput type="text" name="gia_tien" [(ngModel)]="giaTienDisplay" required
              (input)="onGiaTienInput($event)" #giaTien="ngModel" placeholder="Nhập giá tiền..." />

            <mat-error *ngIf="giaTien.touched && giaTien.errors?.['required']">
              Vui lòng nhập giá tiền
            </mat-error>

            <mat-error *ngIf="MonAn.gia_tien <= 0">
              Giá tiền phải lớn hơn 0
            </mat-error>
          </mat-form-field>


        </div>
        <div class="flex flex-col col-span-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Mô tả</mat-label>

            <textarea matInput rows="4" [(ngModel)]="MonAn.mo_ta" name="mo_ta" required minlength="5"
              placeholder="Nhập mô tả món ăn" #moTa="ngModel">
             </textarea>

            <mat-error *ngIf="moTa.touched && moTa.errors?.['required']">
              Mô tả không được để trống
            </mat-error>

            <mat-error *ngIf="moTa.touched && moTa.errors?.['minlength']">
              Mô tả phải ≥ 5 ký tự
            </mat-error>
          </mat-form-field>
        </div>


        <div class="flex flex-col col-span-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Giá giảm</mat-label>

            <input matInput type="text" name="gia_giam" [(ngModel)]="giaTienGiamDisplay" required
              (input)="onGiaTienGiamInput($event)" #giaGiam="ngModel" placeholder="Nhập giá tiền giảm..." />


            <!-- <= 0 -->
            <mat-error *ngIf="giaGiam.touched && MonAn.gia_giam <= 0">
              Giá tiền giảm phải lớn hơn 0
            </mat-error>

            <!-- > giá tiền -->
            <mat-error *ngIf="giaGiam.touched && MonAn.gia_giam > MonAn.gia_tien">
              Giá tiền giảm không được lớn hơn giá tiền
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="flex justify-end gap-4 mt-8">

      <button matButton="filled" type="button" (click)="addMonAn()" [disabled]="monAnForm.invalid || loading">

        <mat-icon *ngIf="!loading">check</mat-icon>
        <mat-icon *ngIf="loading" class="animate-spin">refresh</mat-icon>

        {{ loading ? 'Đang thêm mới món ăn...' : 'Thêm mới món ăn' }}

      </button>

      <button mat-raised-button (click)="close()">
        <mat-icon>close</mat-icon>
        Hủy
      </button>
    </div>
  </div>
</form>