<mat-toolbar
  class="fixed top-0 left-0 w-full px-3 sm:px-4 py-2 sm:py-3 shadow-md h-16 sm:h-20 z-50 flex justify-between">
  <!-- LEFT: Menu + Logo -->
  <button mat-icon-button *ngIf="isMobile" (click)="sidebarService.toggleMobile()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="flex items-center gap-4 h-full">

    <a routerLink="/" class="flex items-center">
      <img src="assets/Logo/FoodHub.png" alt="Logo" class="h-[30px] sm:h-[35px] md:h-[60px] w-auto cursor-pointer" />
    </a>
  </div>



  <!-- RIGHT: User + Notifications + Dark Mode -->
  <div class="flex items-center gap-2 sm:gap-4 mr-2 sm:mr-10">


    <button [matMenuTriggerFor]="userMenu" matTooltip="Tài khoản">
      <img [src]="previewImage" alt="User" class="h-7 w-7 sm:h-8 sm:w-8 rounded-full object-cover" />
    </button>
  </div>
</mat-toolbar>

<!-- USER MENU -->
<mat-menu #userMenu="matMenu" class="!p-0 !rounded-xl !overflow-hidden !shadow-xl !min-w-[220px] mt-4">
  <div class="px-4 py-3 border-b border-gray-700 text-black font-semibold">
    Xin Chào {{ adminInfo?.ho_ten || 'Admin' }}
  </div>

  <button mat-menu-item class="!flex !items-center !gap-3 !py-2">
    <mat-icon class="text-black">person</mat-icon>
    <span class="text-black">Trang Cá Nhân</span>
  </button>
  <button mat-menu-item class="!flex !items-center !gap-3 !py-2" (click)="openExportDialog()">
    <mat-icon class="text-black">print</mat-icon>
    <span class="text-black">In Báo Cáo</span>
  </button>
  <button mat-menu-item class="!flex !items-center !gap-3 !py-2">
    <mat-icon class="text-black">chat</mat-icon>
    <span class="text-black">Nhắn tin</span>
  </button>
  <button mat-menu-item class="!flex !items-center !gap-3 !py-2">
    <mat-icon class="text-black">g_translate</mat-icon>
    <span class="text-black">Ngôn Ngữ</span>
  </button>
  <button mat-menu-item class="!flex !items-center !gap-3 !py-2">
    <mat-icon class="text-black">timer</mat-icon>
    <span class="text-black">Giờ Làm</span>
  </button>
  <button mat-menu-item class="!flex !items-center !gap-3 !py-2">
    <mat-icon class="text-black">timeline</mat-icon>
    <span class="text-black">Doanh Thu</span>
  </button>
  <button mat-menu-item class="!flex !items-center !gap-3 !py-2">
    <mat-icon class="text-black">add_notes</mat-icon>
    <span class="text-black">Ghi Chú</span>
  </button>
  <button mat-menu-item class="!flex !items-center !gap-3 !py-2">
    <mat-icon class="text-black">settings</mat-icon>
    <span class="text-black">Cài đặt</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()" class="!flex !items-center !gap-3 !py-2">
    <mat-icon>logout</mat-icon>
    <span class="text-red-600 font-semibold">Đăng xuất</span>
  </button>
</mat-menu>

