<aside class="w-64 h-screen bg-gray-700 flex flex-col shadow-lg ">
  <div class="flex items-center justify-center h-20 text-xl font-bold bg-gray-600">
    Nguyễn Văn A
  </div>

  <nav class="flex-1 px-2 py-4 space-y-2">

    <button mat-button [routerLink]="['/user','DashBoardUser']" class="flex items-center w-full px-4 py-2 rounded hover:bg-gray-600 transition">
      <mat-icon class="mr-3">account_box</mat-icon> Trang Nhân Viên
    </button>

    <button mat-button [routerLink]="['/user','XemHoaDon']" class="flex items-center w-full px-4 py-2 rounded hover:bg-gray-600 transition" 
      routerLinkActive="bg-gray-600 text-white">
      <mat-icon class="mr-3">receipt_long</mat-icon>
      Xem hóa đơn
    </button>

    <button mat-button [routerLink]="['/user','TaoHoaDon']" class="flex items-center w-full px-4 py-2 rounded hover:bg-gray-600 transition"
       routerLinkActive="bg-gray-600 text-white">
      <mat-icon class="mr-3">note_add</mat-icon> Tạo hóa đơn
    </button>

    <button mat-button [routerLink]="['/user','thanh-toan']" class="flex items-center w-full px-4 py-2 rounded hover:bg-gray-600 transition">
      <mat-icon class="mr-3">payment</mat-icon> Thanh toán
    </button>

  </nav>
</aside>