<div class="relative p-6 rounded-2xl shadow-2xl">
  <!-- Nút đóng -->
  <div class="flex justify-end">
    <button matIconButton (click)="close()" class="text-center">
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <!-- Tiêu đề -->
  <h2 class="text-2xl font-semibold mb-8 text-center">
    Đổi mật khẩu
  </h2>

  <div class="flex gap-8 flex-wrap lg:flex-nowrap">

    <!-- Form nhập thông tin -->
    <div class="grid grid-cols-1 gap-4 flex-1">
      <!-- Họ tên -->
      <div class="flex flex-col gap-2 ">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Mật khẩu mới</mat-label>

          <input matInput type="password" placeholder="Nhập mật khẩu mới" name="mat_khau"
            [(ngModel)]="admin.mat_khau_moi" #passwordCtrl="ngModel" required minlength="6" maxlength="32"
            (blur)="passwordCtrl.control.markAsTouched()" />

          <!-- ❌ Lỗi Angular Material -->
          <mat-error *ngIf="passwordCtrl.invalid && passwordCtrl.touched">
            {{ error }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Nút hành động -->
  <div class="flex justify-end gap-4 mt-8">
    <!-- Button Thêm mới -->
    <button matButton="filled" (click)="doiMatKhau()" [disabled]="isLoading"
      class="flex items-center gap-2 justify-center">
      <!-- ICON loading -->
      <mat-icon *ngIf="isLoading" class="animate-spin">
        refresh
      </mat-icon>

      <!-- ICON bình thường -->
      <mat-icon *ngIf="!isLoading">
        check
      </mat-icon>

      <span>
        {{ isLoading ? 'Đang cập nhật...' : 'Đổi mật khẩu' }}
      </span>
    </button>

    

    <button mat-raised-button (click)="close()">
      <mat-icon>close</mat-icon>
      Hủy
    </button>
  </div>
</div>