<form #editMonForm="ngForm" class="relative p-6">

  <!-- NÚT ĐÓNG -->
  <div class="flex justify-end">
    <button matIconButton (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- TIÊU ĐỀ -->
  <h2 class="text-2xl font-semibold mb-8 text-center">
    Chỉnh sửa món ăn
  </h2>

  <div class="flex gap-8 flex-wrap lg:flex-nowrap">

    <!-- ẢNH -->
    <div class="flex flex-col items-center gap-3 w-full lg:w-1/3">

      <div class="w-48 h-48 rounded-lg overflow-hidden shadow-md">
        <img [src]="previewImage || 'assets/user.jpg'" class="w-full h-full object-cover" />
      </div>

      <button matButton="filled" (click)="fileInput.click()">
        <mat-icon>upload</mat-icon>
        Thay ảnh
      </button>

      <input #fileInput type="file" hidden (change)="onFileSelected($event)" />
    </div>

    <!-- FORM -->
    <div class="grid grid-cols-2 gap-4 flex-1">

      <!-- TÊN MÓN -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Tên món ăn</mat-label>

        <input matInput [(ngModel)]="MonAn.ten_mon_an" name="ten_mon_an" required minlength="2" #tenMon="ngModel" />

        <mat-error *ngIf="tenMon.touched && tenMon.errors?.['required']">
          Tên món không được để trống
        </mat-error>

        <mat-error *ngIf="tenMon.touched && tenMon.errors?.['minlength']">
          Tên món phải ≥ 2 ký tự
        </mat-error>
      </mat-form-field>

      <!-- LOẠI MÓN -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Loại món ăn</mat-label>

        <mat-select [(ngModel)]="MonAn.ma_loai_mon_an" name="ma_loai_mon_an" required #loaiMon="ngModel">
          <mat-option *ngFor="let item of danhSachLoaiMonAn" [value]="item.ma_loai_mon_an">
            {{ item.ten_loai_mon_an }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="loaiMon.touched && loaiMon.errors?.['required']">
          Vui lòng chọn loại món ăn
        </mat-error>
      </mat-form-field>

      <!-- TRẠNG THÁI -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Trạng thái</mat-label>

        <mat-select [(ngModel)]="MonAn.trang_thai" name="trang_thai" required #trangThai="ngModel">
          <mat-option [value]="0">Ngừng bán</mat-option>
          <mat-option [value]="1">Còn bán</mat-option>
        </mat-select>

        <mat-error *ngIf="trangThai.touched && trangThai.errors?.['required']">
          Vui lòng chọn trạng thái
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="flex flex-col">
        <mat-label>Giá tiền</mat-label>

        <input matInput type="number" [(ngModel)]="MonAn.gia_tien" name="gia_tien" required min="1"
          #giaTien="ngModel" />

        <mat-error *ngIf="giaTien.touched && giaTien.errors?.['required']">
          Vui lòng nhập giá tiền
        </mat-error>

        <mat-error *ngIf="giaTien.touched && giaTien.errors?.['min']">
          Giá tiền phải lớn hơn 0
        </mat-error>
      </mat-form-field>

      <div class="flex flex-col col-span-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Mô tả</mat-label>

          <textarea matInput rows="4" [(ngModel)]="MonAn.mo_ta" name="mo_ta" required minlength="5" #moTa="ngModel"
            placeholder="Nhập mô tả món ăn">
        </textarea>

          <mat-error *ngIf="moTa.touched && moTa.errors?.['required']">
            Vui lòng nhập mô tả
          </mat-error>

          <mat-error *ngIf="moTa.touched && moTa.errors?.['minlength']">
            Mô tả tối thiểu 5 ký tự
          </mat-error>
        </mat-form-field>
      </div>

      <!-- MÔ TẢ -->



      <!-- GIÁ TIỀN -->
      <div class="flex flex-col col-span-2">
        <mat-form-field appearance="outline" class="w-full col-span-2">
          <mat-label>Giảm giá</mat-label>

          <input matInput type="number" [(ngModel)]="MonAn.gia_giam" name="gia_giam" required min="0"
            [max]="MonAn.gia_tien" #giamGia="ngModel" />

          <mat-error *ngIf="giamGia.touched && giamGia.errors?.['required']">
            Vui lòng nhập giá tiền giảm
          </mat-error>

          <mat-error *ngIf="giamGia.touched && giamGia.errors?.['min']">
            Giá giảm phải ≥ 0
          </mat-error>

          <mat-error *ngIf="giamGia.touched && giamGia.errors?.['max']">
            Giá giảm không được lớn hơn giá tiền
          </mat-error>
        </mat-form-field>
      </div>



    </div>
  </div>

  <!-- BUTTON -->
  <div class="flex justify-end gap-4 mt-8">

    <button matButton="filled" type="button" (click)="capNhat()" [disabled]="editMonForm.invalid || isLoading">

      <mat-icon *ngIf="!isLoading">check</mat-icon>
      <mat-icon *ngIf="isLoading" class="animate-spin">refresh</mat-icon>

      {{ isLoading ? 'Đang cập nhật món ăn...' : 'Cập nhật món ăn' }}

    </button>

    <button mat-raised-button type="button" (click)="close()">
      <mat-icon>close</mat-icon>
      Hủy
    </button>

  </div>

</form>