<div class="rounded-2xl shadow-xl w-full h-full p-8 flex flex-col bg-white text-gray-800">

    <!-- ================= HEADER ================= -->
    <div class="flex items-start justify-between mb-6 shrink-0">

    <div class="flex flex-col">
        <h2 class="text-xl font-bold text-gray-900 flex items-center gap-2">
            <mat-icon class="text-2xl text-green-500">recommend</mat-icon>
            Yêu thích
        </h2>

        <span class="mt-1 px-3 py-1 rounded-full bg-green-100 text-green-700 text-sm font-medium w-fit">
            {{ data?.items?.length || 0 }} món
        </span>
    </div>

    <!-- NÚT X GÓC PHẢI -->
    <button
        mat-icon-button
        class="ml-auto"
        (click)="close()">

        <mat-icon class="text-gray-500 hover:text-gray-800">
            close
        </mat-icon>

    </button>

</div>
    <!-- ================= BODY (STEP AREA) ================= -->
    <div class="flex-1 overflow-y-auto pr-2">
        <div class="flex-1 overflow-y-auto pr-2 space-y-3">

            <ng-container *ngIf="data?.items?.length > 0; else empty">

                <div *ngFor="let item of data.items"
                    class="flex items-center gap-4 rounded-xl p-4 bg-gray-50 border border-gray-200 hover:shadow transition">

                    <!-- ẢNH -->
                    <img [src]="item.anh_mon_an?.length ? item.anh_mon_an[0].url : 'assets/no-image.png'"
                        class="w-20 h-20 rounded-xl object-cover border" />

                    <!-- INFO -->
                    <div class="flex-1">

                        <p class="font-semibold text-gray-900 truncate">
                            {{ item.ten_mon_an }}
                        </p>

                        <span class="text-green-600 font-medium">
                            {{ item.gia_tien | number }} đ
                        </span>

                    </div>

                    <!-- BUTTON XOÁ -->
                    <button mat-icon-button>
                        <mat-icon class="text-red-500">favorite</mat-icon>
                    </button>

                </div>

            </ng-container>

            <!-- EMPTY -->
            <ng-template #empty>
                <div class="text-center text-gray-500 py-10">
                    Chưa có món yêu thích
                </div>
            </ng-template>

        </div>
    </div>
    <!-- ================= FOOTER ================= -->
    <div class="border-t pt-4 mt-4 shrink-0 flex justify-end gap-4">
        <!-- TIẾP TỤC: chỉ 0 → 2 -->
        <button matButton="filled" color="primary">
            Thêm giỏ hàng
        </button>
        <!-- STEP 3: chỉ còn nút thanh toán -->
        <button mat-raised-button color="primary" (click)="close()">
            Đóng
        </button>
    </div>
</div>

<!-- <app-toast-message [show]="toast.show" [message]="toast.message" [type]="toast.type">
</app-toast-message> -->